<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="rutaDocs" value="C:\Inetpub\repositorioFacturaxion\cfdi\"/>
    <add key="rutaDocsExterna" value="https://fx.facturaxion.com/repositorioFacturaxion/cfdi/"/>
    <add key="emailUnlockCode" value="HUMBERMAILQ_o3GMKH3w7R2U"/>
    <add key="rutaDocs" value="C:\Inetpub\repositorioFacturaxion\cfdi\"/>
    <add key="rutaDocsExterna" value="https://fx.facturaxion.com/repositorioFacturaxion/cfdi/"/>
    <add key="DS_r3" value="1#Data Source=200.57.178.65,6000;Initial Catalog=r3TakeCore;User Id=core;Password=r3T4k34ppUs3r;Application Name=Core;"/>
    <add key="DS_FE" value="1#Data Source=200.57.178.65,6000;Initial Catalog=Facturaxion;User Id=core;Password=r3T4k34ppUs3r;Application Name=Core;"/>
    <add key="DS_FE2" value="1#Data Source=200.57.178.65,6000;Initial Catalog=FacturaxionPruebas;User Id=core;Password=r3T4k34ppUs3r;Application Name=Core;"/>
    <add key="UsrSharePoint" value="Amethyst"/>
    <add key="Dominio" value="FX"/>
    <add key="PwdSharePoint" value="D0m1n10FX"/>
    <add key="AzureConnectionString" value="DefaultEndpointsProtocol=http;AccountName=cloudfacturaxion;AccountKey=3Kcyn3O36zm8vNBrtmP8l1JILgcmkUYF4tevECS6yDbf/sCFnPAxwoPzXNe3S4Plxsk57zPWG9XMCkoCdRu+QQ=="/>
  </appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
      La sección <authentication> habilita la configuración 
      del modo de autenticación de seguridad que usa 
      ASP.NET para identificar a un usuario entrante. 
-->
		<authentication mode="Windows"/>
		<!--
       La sección <customErrors> habilita la configuración de 
       las acciones que se deben realizar si un error no controlado tiene lugar
       durante la ejecución de una solicitud. En concreto, 
       permite a los desarrolladores configurar páginas de error html 
       que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
-->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
